{% extends 'layout.html' %} 
{% block content %}

<div id="AdminDiv">
  <h1>Create Post</h1>
  <form method="POST" action="{{ url_for('admin_page') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.author.label }} {{ form.author(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.image.label }} {{ form.image(class="form-control") }}
    </div>
    <div class="form-group mt-2 mb-2">
      {{ form.content.label }} {{ form.content(class="form-control", rows="10") }}
      {% if form.content.errors %}
        {% for error in form.content.errors %}
          <div class="alert alert-danger mt-2">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>

  <h1 class="mt-5">Delete Post</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date.strftime('%Y-%m-%d') }}</td>
        <td>
          <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
