{% extends 'layout.html' %}
{% block content %}

<div class="div-height mt-5 mb-5">
  <h1>Crear Nuevo Post</h1>

  <form method="POST" action="{{ url_for('create_post') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.author.label }} {{ form.author(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.category.label }} {{ form.category(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.slug.label }} {{ form.slug(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.image.label }} {{ form.image(class="form-control") }}
    </div>
    <div class="form-group mt-2 mb-2">
      {{ form.content.label }} {{ form.content(class="form-control", rows="10") }}
    </div>
    {{ form.submit(class="btn btn-dark") }}
  </form>
</div>

{% endblock %}

