{% extends 'layout.html' %} 

{% block content %}

<div class="container div-height mt-5 mb-5">
    <h1>Bienvenido al Admin Panel</h1>
    <p class="mt-5">Estos son nuestros últimos posts</p>

    <div class="row mt-5">
        {% for post in posts[:3] %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content[:100] }}...</p>
                    <p class="card-text"><small class="text-muted">By {{ post.author }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
